html, body, #content {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, #content {
	background-color: white;
	overflow: hidden;
	font-family: "Trebuchet MS";
}

#banner {
	height : 100px;
	overflow: hidden;
	text-align: center;
	background-color: #1E90FF;
	margin: 0;
	padding: 0;
}

#map {
	background-color: white;
	border: 2px solid #6495ED;
	margin: 2px;
	-moz-border-radius: 4px;
}
